@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body, body * {
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  background-color: rgb(221, 168, 252);
  min-height: 100vh;
  font-family: 'Bebas Neue', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
    background-color: rgba(173, 173, 173, 0.281)
    font-family: inherit;
    border: none;
    padding: 8px 16px;
    text-align: center;
}

div.response{
    display: flex;
    align-items: center;
    border: solid 1px white;
    border-radius: 4px;
    margin-top: 8px;
}

div.response span.input{
    padding: 8px;
}

div.response span.comment {
    font-style: italic;
  }