@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body, body * {
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  background-color: rgb(221, 168, 252);
  min-height: 100vh;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 48px;
}

p span {
  font-family: 'Roboto', sans-serif;
  display: block;
  background-color: #a35ef147;
  border: solid 2px #5100d3;
  border-radius: 16px;
  padding: 16px;
}

.bounce {
  animation: bounce-anim 1s linear;
}

@keyframes bounce-anim {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

